nav {
    background-color: #e2fcde;
}

div.jumbotron {
    background-color: white;
}

a.navbar-brand:link
{
   color: black;
}
a.nav-link:link
{
   color: black;
   text-decoration: none;
}
a.nav-link:visited
{
   color: black;
   text-decoration: none;
}
a.nav-link:hover
{
   color: black;
   text-decoration: none;
}
a.nav-link:active
{
   color: black;
   text-decoration: none;
}

form.signup,
form.login {
    margin-top: 50px;
}

body {
    background-image: url(../images/congruent_pentagon.png);
}

.container {
    background-image: white;
}

.budgetAmount{
    text-align: center;
}

.editBudget {
    vertical-align: middle;
}

#budgetSection {
    padding: 10px;
}

.inputButton, .memberName {
    margin: auto;
    display: block;
    text-align: center;
}

.budgetContainer {
    background-color: transparent;
    margin: auto;
    display: block;
    width: 600px;
    padding: 15px;
}

.budgetExpenses {
    text-align: center;
}

.wordColumn {
    text-align: center;
}

.numberColumn {
    text-align: center;
}

.member-name {
    font-weight: bolder;
}

.wordsAtBottom{
    font-weight: bolder;
}

.budget-line {
    border: none;
    height: 10px;
    background-color: black;
}

.actualBudgetAmount {
    height: 100%;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}